* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background1 {
    background-color: rgb(242 242 242);
    font-family: "Open Sans";
    font-size: 15px;
}

.background2 {
    background-color: #FFFFFF;
    width: 62rem;
    margin: 0 auto;
}

.top_banner {
    background-color: #0A3E73;
    border-bottom: 2px solid #8DDEEE;    
    color: #FFFFFF;
    padding: 2rem 0 2rem 3rem;
}

.main_section {
    padding: 0 2rem;
}

.intro_header {
    padding: 1rem 0;
}

.intro_text {
    padding: 0 0 1rem 0;
}

.preference_head {
    background-color: rgb(242 242 242);
    padding: 15px 0 15px 1rem;
}

.preferences {
    display: flex;
    background-color: rgb(242 242 242);
    padding: 0 0 1rem 1rem;
}

.preference_form {
    width: 8rem;
}

.available_inventory {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dog {
    padding: 1rem;
    max-width: 30%;
    font-family: "Oswald";
}

.dog a {
    text-decoration: none;
    color: #000000;
}

.dog_pic {
    width: 100%;

}

.aspect_group {
    display: flex;
    flex-wrap: wrap;
}

.aspect {
    font-family: "Open Sans";
    font-size: 9px;
    background-color: #8DDEEE;
    border-radius: 100px;
    padding: 4px;
    margin: 2px;
}

.footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.foot_menu {
    height: 15rem;
    text-align: center;
    line-height: 15rem;
    flex: 1 1 auto;
}

.foot_menu a{
    color: #FFFFFF;
    text-decoration: none;
}

.donate_option {
    background:
        linear-gradient(rgba(125, 0, 125, .5), rgba(125, 0, 125, .5)),
        url(starter_files/images/donate.jpg) center/cover;
        width: 33%;
}

.volunteer_option {
    background:
        linear-gradient(rgba(125, 0, 125, .5), rgba(125, 0, 125, .5)),
        url(starter_files/images/volunteer.jpg) center/cover;
        width: 33%;
}

.location_option {
    background:
        linear-gradient(rgba(125, 0, 125, .5), rgba(125, 0, 125, .5)),
        url(starter_files/images/location.png) center/cover;
        width: 33%;
}